.header-container {
  position: relative;
  width: 100%;
  height: 750px;
  overflow: hidden;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
}

.header-video {
  position: absolute;
  width: 100%;
  height: auto;
}

.video-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.video-heading {
  font-size: 80px;
  color: white;
}

.video-sub-heading {
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
  font-weight: 300;
  margin-top: -70px;
  font-size: 20px;
  color: black;
  padding: 5px 20px;
  border-radius: 10px;
}

.video-sub-heading button {
  background-color: brown;
  width: 140px;
  border: none;
  font-size: 15px;
  border-radius: 5px;
  color: wheat;
}

.form-container {
  width: 1200px;
  height: 150px;
  background-color: white;
  color: black;
  position: absolute;
  opacity: 70%;
  top: calc(50% + 150px);
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  z-index: 2;
}
@media screen and (max-width: 1200px) {
  .form-container{
    width: 1000px;
  }
}


@media screen and (max-width: 1090px) {

  .form-container{
    width: 400px;
    height: 350px;
    top: calc(45%);
  }
  .header-container {
    align-items: start;
  }
  .header-video {
    width: auto;
    height: 700px;
  }
  .video-content {
    margin-top: 150px;
  }
  .video-heading {
    font-size: 40px;
  }

  .video-sub-heading {
    font-weight: 300;
    margin-top: 0px;
    font-size: 10px;
  }

  .video-sub-heading button {
    font-size: 10px;
    width: 60px;
  }
}
